* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #1f1f21;
  --text-color: #fff;
  --main-color: #274d70;
  --big-font: 7rem;
  --p-font: 1.1rem;
  --sub-font: 1rem;
  --kecil-font: 0.5rem;
}

/* Mulai nav bar */

header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 66px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;
  background: var(--main-color);
  transition: all ease 0.45s;
}

.logo {
  color: var(--text-color);
  font-family: Judson;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header ul {
  position: relative;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
}

.informasi i {
  margin-top: 2px;
}

header ul li a {
  color: var(--text-color);
  font-size: var(--sub-font);
  padding: 20px 20px;
  text-decoration-line: none;
  justify-content: space-between;
  display: flex;
}

header ul li.beranda:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header ul li.cuaca:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header ul li.mengapa:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header ul li.informasi:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header ul li.donasi:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header ul li.lokasi:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header ul li .dropdown {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--main-color);
  display: none;
}

header ul li.informasi:hover .dropdown {
  display: block;
}

header ul li ul li:hover {
  background-color: #152a3d;
}

header ul li .dropdown li {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Mulai responsive nav */

@media (max-width: 920px) {
  header {
    padding: 10px 20px;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    background: #386ea0;
    display: none;
  }
  header.active nav {
    display: initial;
  }
  header nav ul li {
    width: 100%;
  }
  header ul li .dropdown {
    position: relative;
    width: 100%;
    left: 0;
  }
  .menu {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    background: white;
    transform: translateY(-12px);
    box-shadow: 0 12px white;
  }
  .menu::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    background: white;
    transform: translateY(12px);
  }
  header.active .menu::before {
    transform: rotate(45deg);
    box-shadow: 0 0 white;
  }
  header.active .menu::after {
    transform: rotate(315deg);
  }
}

/* end responsive nav */

/* end nav bar */

/* artilel */

.conten {
  background-color: #274d70;
  height: 50vh;
  padding-top: 13%;
  text-align: center;
  font-size: 5vh;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/10/DONASI-PALU-1068x601.jpg);
}

.container .informasi {
  width: 492px;
  height: 670px;
  border-radius: 16px;
  background: #fff;
  box-shadow: -7px 13px 33px 0px rgba(0, 0, 0, 0.1),
    -27px 54px 60px 0px rgba(0, 0, 0, 0.09),
    -61px 121px 81px 0px rgba(0, 0, 0, 0.05),
    -108px 216px 96px 0px rgba(0, 0, 0, 0.01),
    -168px 337px 105px 0px rgba(0, 0, 0, 0);
}

.main {
  margin-left: 5%;
}

.main .container .main-container {
  display: flex;
  gap: 6rem;
}

.main .headtext {
  display: flex;
}

.main .headtext h2 {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.main .headtext h2 a {
  color: var(--main-color);
}

.main .headtext .underline {
  text-decoration: underline;
}

.container .informasi {
  padding-left: 5rem;
}

.informasi .informasi-text .nama {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.informasi .informasi-text .w3-light-grey {
  width: 70%;
  margin-bottom: 2rem;
}

.informasi .informasi-text .verif {
  margin-bottom: 1rem;
}

.container .informasi .informasi-img img {
  width: 300px;
  height: 150px;
  margin-top: 2rem;
}

.informasi .informasi-text progress {
  margin-bottom: 2rem;
}

.informasi .informasi-text .target-terkumpul {
  margin-bottom: 2rem;
}

.informasi .informasi-text .target-terkumpul .terkumpul {
  padding-right: 3rem;
}

.informasi .informasi-text .deskripsi {
  width: 70%;
  text-align: justify;
  margin-bottom: 2rem;
}

/* progress bar */

.container2 {
  width: 300px;
  margin-bottom: 2rem;
}

@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress2 {
  padding: 6px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
}

.progress-bar2 {
  height: 18px;
  border-radius: 10px;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); */
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 85%;
  background-color: #008cff;
  animation: progressAnimation 6s;
}

.informasi .informasi-text .button {
  width: 76%;
  text-align: center;
}

.informasi .informasi-text button {
  background-color: #008cba;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* main */

.main .text {
  width: 591px;
  text-align: justify;
}

.main .text img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.informasi .informasi-text .target-terkumpul {
  display: flex;
}

section {
  padding: 70px 17%;
}

.footer {
  color: white;
  background-color: var(--main-color);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .footer-text {
  display: flex;
  flex-direction: column;
  width: 348px;
  text-align: justify;
}

.footer-content .footer-text h2 {
  font-family: Judson;
}

.footer-content .footer-text p {
  opacity: 70%;
}

.footer-content .footer-col li {
  opacity: 70%;
}

/* -------------------------------------------------------------------- */
